/* Design by Realmlist */

body{
	background-color:#e1e1e1;
	font-family:Arial;
	font-size:12px;
	color:#333333;
	margin:0px;
}
#wrapper{
	width:1366px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
#wrapper2{
	width:1366px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	padding-top:30px;
}
header{
	height:115px;
	position:relative;
}
#logo{
	float:left;
}
menu{
	float:right;
	margin-right:50px;
	margin-top:65px;
	font-size:24px;
	font-weight:bold;
}
menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
menu ul li{
	display:inline;
	margin-right:15px;
}
a:link, a:visited, a:active{
	text-decoration:none;
	color:#333333;
}
a:hover{
	text-decoration:underline;
}

.block{
	width:310px;
	height:220px;
	float:left;
	padding:15px;
}
.blockaccount{
	width:310px;
	height:auto;
	padding:0px 15px;
	display:inline-table;
}
h1{
	font-size:24px;
	font-weight:bold;
	margin-bottom:20px;
}
.icon{
	float:left;
	margin-right:13px;
}
#scrollbar{
	display:none;
	width:100%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
/*Safari and Chrome CSS only*/
    #scrollbar     
    {
        overflow: visible !important;
    }
}
